@font-face {
    font-family: 'Kotta One';
    src: url('Fonts/KottaOne-Regular.eot');
    src: url('Fonts/KottaOne-Regular.eot?#iefix') format('embedded-opentype'),
        url('Fonts/KottaOne-Regular.woff2') format('woff2'),
        url('Fonts/KottaOne-Regular.woff') format('woff'),
        url('Fonts/KottaOne-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
html {
    min-height: 100vh
}
body {
    color: var(--text-color);
    font-family: 'Kotta One', 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-image: url(Backgrounds/Background\ 2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: fixed;
    background-attachment: fixed;
}

:root {
    --text-color: #A9C3DA;
    --link-color: #A9CEDA;
}
:link {
    text-decoration: none;
    color: var(--text-color);
}
button {
    background: none;
    border: none;
    padding: 0;
}
button:hover {
    cursor: pointer;
}
.br {
    height: 1.4rem;
}
.wrapper {
    position: absolute;
    top: 0.5px;
    left: 0;
    right: 0;
    bottom: 0.5px;
    overflow-x: hidden;
    overflow-y: auto;
    padding-top: 2rem;
}

/* STYLING FOR HEADER */

.current-page {
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 5px;
}

/* Large Header (1000px or more) */
@media (min-width: 1000px) {
    .menu {
        display: none;
    }
    .menu-website-links {
        display: none;
    }
    .menu-socials-links {
        display: none;
    }
    .header-small {
        display: none;
    }
    .header-medium {
        display: none;
    }
    .header-large {
        display: flex;
        justify-content: space-evenly;
        padding-top: 2rem;
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .website-links {
        display: flex;
        gap: 2.7rem;
        margin-top: auto;
        margin-bottom: auto;
    }
    .website-link {
        font-size: 1.7rem;
    }
    .website-link:hover {
        text-decoration: underline;
        text-decoration-thickness: 1px;
        text-underline-offset: 5px;
    }
    .center-logo {
        width: 25rem;
    }
    .evinine-logo {
        width: 100%;
    }
    .socials-links {
        display: flex;
        margin-top: auto;
        margin-bottom: auto;
    }
    .social-link {
        width: 2rem;
        margin-left: 1rem;
    }
    .social-link-space {
        width: 1.3rem
    }
    .social-link-logo {
        width: 100%
    }
}

/* Medium Header (660px to 1000px) */
@media (min-width: 660px) and (max-width: 1000px) {
    .menu {
        display: none;
    }
    .menu-website-links {
        display: none;
    }
    .menu-socials-links {
        display: none;
    }
    .header-small {
        display: none;
    }
    .header-large {
        display: none;
    }
    .header-medium {
        padding-top: 2rem;
        display: flex;
        width: auto;
        justify-content: space-between;
        margin-left: 5rem;
        margin-right: 5rem;
    }
    .left-logo {
        max-width: 25rem;
        width: 34%;
        margin-right: auto;
    }
    .evinine-logo {
        width: 100%;
    }
    .website-links {
        display: flex;
        gap: 2.7rem;
        margin-top: auto;
        margin-bottom: auto;
    }
    .website-link {
        font-size: 1.7rem;
    }
    .website-link:hover {
        text-decoration: underline;
        text-decoration-thickness: 1px;
        text-underline-offset: 5px;
    }
}

/* Small Header and Menu (up to 660px) */
@media (max-width: 660px) {
    .header-medium {
        display: none;
    }
    .header-large {
        display: none;
    }
    .header-small {
        padding-top: 2rem;
        display: flex;
        width: auto;
        justify-content: space-between;
        min-width: 80%;
    }
    .header-small-padding {
        min-width: 10%;
        width: auto;
    }
    .left-logo {
        width: 50%;
        max-width: 15rem;
        margin-right: auto;
    }
    .evinine-logo {
        width: 100%;
    }
    .open-menu-button {
        height: 1.5rem;
        width: 1.5rem;
        margin-top: auto;
        margin-bottom: auto;
    }
    .menu-logo {
        width: 100%
    }
    .menu {
        background-color: #1c3865;
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 90%;
        width: 0;
        max-width: fit-content;
        height: 100%;
        position: fixed;
        z-index: 999;
        top: 0;
        right: 0;
        bottom: 0;
        overflow: hidden;
        transition: 0.5s;
        box-shadow: 0 0 1.5rem 0.1rem #00000090;
    }
    .menu-gap {
        flex: 1;
    }
    .close-menu-button {
        width: 2rem;
        margin-top: 5.6rem;
        margin-left: auto;
        margin-right: 5rem;
        transition: 0.3s;
    }
    .cross-logo {
        width: 100%;
        margin: auto;
    }
    .menu-website-links {
        display: flex;
        text-align: center;
        flex-direction: column;
        gap: 1rem;
        margin-left: auto;
        margin-right: auto;
    }
    .website-link {
        font-size: 0;
        transition: 0.3s;
    }
    .website-link:hover {
        text-decoration: underline;
        text-decoration-thickness: 1px;
        text-underline-offset: 5px;
    }
    .menu-socials-links {
        display: flex;
        margin: 5rem 3rem 5rem 3rem;
        padding-right: 1rem;
    }
    .social-link {
        width: 1.5rem;
        margin-left: 1rem;
    }
    .social-link-space {
        width: 1.3rem
    }
    .social-link-logo {
        width: 100%
    }
    .page-cover {
        background-color: rgba(0, 0, 0, 0.5);
        width: 100vw;
        height: 100vh;
        z-index: 998;
        position: fixed;
        top: 0;
        left: 0;
        display: none;
    }
}

/* STYLING FOR MAIN BODY */

.button {
    flex: 1;
}
.button-link {
    display: flex;
    border-style: solid;
    border-color: #A9C3DA;
    border-width: 1px;
    height: 3rem;
    border-radius: 1.5rem;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
    margin-bottom: 1.3rem;
}
.button-link:hover {
    background-color: #A9C3DA;
    color: black;
    transition: 0.2s;
}
.social-button {
    width: 30rem;
    display: flex;
    border-style: solid;
    border-color: #A9C3DA;
    border-width: 1px;
    height: 3.5rem;
    border-radius: 1.75rem;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
    margin-bottom: 1.3rem;
    font-size: 1.7rem;
}
.social-button:hover {
    background-color: #A9C3DA;
    color: black;
    transition: 0.2s;
}
.social-button-logo {
    width: 2rem;
    padding: 0.7rem;
}
.socials-title {
    font-size: 2.7rem;
    padding-top: 5rem;
    padding-bottom: 1.7rem;
}

/* Wide Main Body (860px and above) */
@media (min-width: 860px) {
    .body {
        margin: 7rem auto;
        max-width: 65rem;
    }
    .image-text-pair {
        display: flex;
        max-width: 65rem;
        gap: 5rem;
        margin: 0 2rem 5rem 2rem;
    }
    .image {
        max-width: 30rem;
        box-shadow: 0 0 1.5rem 0.1rem #00000090;
    }
    .image-text {
        display: flex;
        width: 100%;
        max-width: 30rem;
        flex-direction: column;
        flex: 1;
        font-size: 1.7rem;
        justify-content: center;
    }
    .title {
        font-size: 3.7rem;
        font-style: italic;
    }
    .description {
        line-height: 2.5rem;
        margin-top: 1.4rem;
        margin-bottom: 2rem;
        text-align: justify;
        width: 100%;
    }
    .buttons {
        display: flex;
        flex-direction: row;
        width: 100%;
        gap: 1rem;
    }
    .paragraph {
        max-width: 65rem;
        margin: 0 2rem 5rem 2rem;
    }
    .paragraph-text {
        display: flex;
        width: 100%;
        max-width: 65rem;
        flex-direction: column;
        flex: 1;
        font-size: 1.7rem;
        justify-content: center;
    }
    .lyric-table {
        display: flex;
        flex-direction: column;
        max-width: 65rem;
        margin: 0 2rem 5rem 2rem;
    }
    .lyric-table-project-heading {
        display: flex;
        flex-direction: column;
        max-width: 65rem;
    }
    .lyric-table-project-name {
        display: flex;
        max-width: 65rem;
        width: fit-content;
        font-size: 3.7rem;
        font-style: italic;
    }
    .lyric-table-project-line {
        width: auto;
        height: 1px;
        margin: 0 0 1rem 0;
        background-color: #A9C3DA;
    }
    .lyric-table-project-subheading {
        font-size: 1.7rem;
    }
    .lyric-table-project-tracks {
        display: block;
        flex-direction: column;
        width: 65rem;
        margin-top: 2rem; 
        font-size: 2.7rem;
        justify-content: center;
    }
    .lyric-page-link:hover {
        text-decoration: underline;
        text-decoration-thickness: 1px;
        text-underline-offset: 5px;
    }
    .lyrics {
        max-width: 65rem;
        width: fit-content;
        margin: 0 auto 5rem auto;
        line-height: 2.5rem;
    }
    .lyrics-text {
        display: flex;
        width: fit-content;
        max-width: 65rem;
        flex-direction: column;
        flex: 1;
        font-size: 1.7rem;
        justify-content: center;
        line-height: 2.5rem;
        transition: 0.2s;
    }
    .lyrics-title {
        font-size: 3.7rem;
        padding-bottom: 1rem;
        font-style: italic;
        transition: 0.2s;
    }
    .lyrics-subtitle {
        font-size: 1.7rem;
        transition: 0.2s;
    }
    .lyrics-section-name {
        font-size: 1.7rem;
        padding: 1.7rem 0;
        transition: 0.2s;
    }
    .lyrics-section {
        font-size: 1.7rem;
        padding: 0;
        transition: 0.2s;
    }
}

/* Narrow Main Body (up to 860px) */
@media (max-width: 860px) {
    .body {
        margin: 7rem auto;
        width: 80%;
        max-width: 30rem;
        justify-items: center;
    }
    .image-text-pair {
        display: flex;
        flex-direction: column;
        max-width: 30rem;
        gap: 2rem;
        margin: 0 auto 5rem auto;
    }
    .image {
        width: 100%;
    }
    .image-text {
        display: flex;
        width: 100%;
        flex-direction: column;
        flex: 1;
    }
    .title {
        font-size: 2.7rem;
        font-style: italic;
        text-align: center;
    }
    .description {
        line-height: 2rem;
        font-size: 1.3rem;
        margin-top: 1.4rem;
        margin-bottom: 2rem;
        text-align: justify;
    }
    .buttons {
        display: flex;
        flex-direction: row;
        width: 100%;
        gap: 1rem;
    }
    .paragraph {
        width: 100%;
        margin: 0 2rem 5rem 2rem;
    }
    .paragraph-text {
        display: flex;
        width: 100%;
        flex-direction: column;
        flex: 1;
        font-size: 1.7rem;
        justify-content: center;
    }
    .lyric-table {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0 2rem 5rem 2rem;
    }
    .lyric-table-project-heading {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 30rem;
    }
    .lyric-table-project-name {
        display: flex;
        max-width: 30rem;
        width: fit-content;
        font-size: 2.7rem;
        font-style: italic;
    }
    .lyric-table-project-line {
        width: auto;
        height: 1px;
        margin: 0 0 0.5rem 0;
        background-color: #A9C3DA;
    }
    .lyric-table-project-subheading {
        font-size: 1.3rem;
    }
    .lyric-table-project-tracks {
        display: block;
        flex-direction: column;
        width: 100%;
        margin-top: 1.7rem; 
        font-size: 1.7rem;
        justify-content: center;
    }
    .lyric-page-link:hover {
        text-decoration: underline;
        text-decoration-thickness: 1px;
        text-underline-offset: 5px;
    }
    .lyrics {
        max-width: 30rem;
        width: fit-content;
        margin: 0 auto 5rem auto;
        line-height: 2.5rem;
        transition: 0.2s;
    }
    .lyrics-text {
        display: flex;
        width: fit-content;
        max-width: 30rem;
        flex-direction: column;
        flex: 1;
        font-size: 1.3rem;
        justify-content: center;
        line-height: 1.2rem;
        transition: 0.2s;
    }
    .button-link {
        height: 2.5rem;
        border-radius: 1.25rem;
        font-size: 1.3rem;
        transition: 0.2s;
    }
    .lyrics-title {
        font-size: 2.7rem;
        line-height: 3rem;
        padding-bottom: 1rem;
        font-style: italic;
        transition: 0.2s;
    }
    .lyrics-subtitle {
        margin-top: -0.7rem;
        margin-bottom: 0.2rem;
        font-size: 1.3rem;
        transition: 0.2s;
    }
    .lyrics-section-name {
        font-size: 1.3rem;
        padding: 1.7rem 0;
        transition: 0.2s;
    }
    .lyrics-section {
        font-size: 1.3rem;
        padding: 0;
        line-height: 2rem;
        transition: 0.2s;
    }
}
