/* STYLING FOR MAIN BODY */

.button {
    flex: 1;
}
.button-link {
    display: flex;
    border-style: solid;
    border-color: #A9C3DA;
    border-width: 1px;
    height: 2.5rem;
    border-radius: 1.25rem;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
    margin-bottom: 1.3rem;
}
.button-link:hover {
    background-color: #A9C3DA;
    color: black;
    transition: 0.2s;
}
.social-button {
    max-width: 30rem;
    width: 100%;
    display: flex;
    border-style: solid;
    border-color: #A9C3DA;
    border-width: 1px;
    height: 3.5rem;
    border-radius: 1.75rem;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
    margin-bottom: 1.3rem;
    font-size: 1.7rem;
}
.social-button:hover {
    background-color: #A9C3DA;
    color: black;
    transition: 0.2s;
}
.social-button-logo-container {
    width: 2rem;
    height: 2rem;
    margin-right: 0.7rem;
    padding: 0;
}
.social-button-logo {
    width: 2rem;
    margin: 0;
    position: absolute;
    transition: 0.2s;
}
.socials-title {
    font-size: 2.7rem;
    padding-top: 5rem;
    padding-bottom: 1.7rem;
    transition: 0.2s;
    text-align: center;
}
.body {
    margin: 0rem auto 7rem auto;
    width: 80%;
    max-width: 30rem;
    justify-items: center;
}

@media (min-width: 464px) {
    .streaming-info {
        display: flex;
        flex-direction: column;
        max-width: 30rem;
        gap: 2rem;
        margin: 5rem 0rem;
    }
    .streaming-title {
        width: 100%;
        font-size: 3.7rem;
        text-align: center;
    }
    .streaming-subtitle {
        width: 100%;
        font-size: 1.7rem;
        text-align: center;
    }
}

@media (max-width: 464px) {
    .social-button {
        height: 2.5rem;
        border-radius: 1.25rem;
        font-size: 1.3rem;
        line-height: 2rem;
    }
    .social-button-logo-container {
        width: 1.5rem;
        height: 1.5rem;
        margin-right: 0.7rem;
        padding: 0;
    }
    .social-button-logo {
        width: 1.5rem;
        margin: 0;
        position: absolute;
        transition: 0.2s;
    }
    .socials-title {
        font-size: 1.7rem;
        padding-top: 5rem;
        padding-bottom: 1.7rem;
    }
    .streaming-info {
        display: flex;
        flex-direction: column;
        max-width: 30rem;
        gap: 1.5rem;
        margin: 5rem 0rem;
    }
    .streaming-title {
        width: 100%;
        font-size: 2.7rem;
        text-align: center;
    }
    .streaming-subtitle {
        width: 100%;
        font-size: 1.3rem;
        text-align: center;
    }
}